# -----------------------------------------------------------------------------
# Base URL of the application
# -----------------------------------------------------------------------------
VITE_BASE_URL='http://localhost:3000'

# -----------------------------------------------------------------------------
# Auth (Better Auth)
# Generate a secret key: `pnpm dlx @better-auth/cli@latest secret`
# -----------------------------------------------------------------------------
BETTER_AUTH_SECRET=''

# -----------------------------------------------------------------------------
# Google OAuth
# -----------------------------------------------------------------------------
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

# -----------------------------------------------------------------------------
# Mail (Resend)
# -----------------------------------------------------------------------------
RESEND_API_KEY=''
